{% extends "index.html" %}

{% block contenido %}
		<!-- Inicio cajas 3-->
		
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	  google.charts.load('current', {packages: ['corechart']});
	  google.charts.setOnLoadCallback(drawChart);
	  ...
	</script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<center>
		<form method="POST" action='/intelectual'>
			{% csrf_token %} 
			<select id="selProv2" name="selProvIntel">
		        {% for p in id_provincia %}
            <option value ="{{p.id_provincia}}">{{p.nombre_proncia}}</option>
           {% endfor %}
		    </select>
		    <button type="submit">Presioname</button>
	    </form>
	</center>	
	<div class="cont">
			<header class="heder-col3">
					<div id="caja-izq" class="col-sn-8 diagrama2">
						<!--Load the AJAX API-->  
						  <body>
						<!--Div that will hold the pie chart-->
						    <div id="chart_divIntel">		
						    </div>
						  </body>
					</div>
				</center>
			</header>	
		</div>
	<footer class="foot">
	</footer>
<script type="text/javascript" >

    google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChartAnios);

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartAnios() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'cantidad');
      data.addRows([
        ['Ninguno', {{ninguno}}],
        ['Centro de Alfabetización/(EBA)', {{centro}}],
        ['Preescolar', {{preescolar}}],
        ['Primario', {{primario}}],
        ['Secundario', {{secundario}}],
        ['Educación Básica', {{basica}}],
        ['Bachillerato', {{bachillerato}}],
        ['Ciclo Postbachillerato', {{postbachillerato}}],
        ['Superior', {{superior}}]
      ]);

// Set chart options
      var options = {'title':'Nivel educativo alcanzado en la provincia de  por individuos con discapacidad Intelectual'};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_divIntel'));
      chart.draw(data, options);
    }

</script>
{% endblock %}